header{
    position: fixed;
    width: 100%;
    background: rgba(29, 29, 29, 0.9);
    -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
    padding: 10px 0;
}

header .content{
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #D6D6D6;
    font-size: 18px;
}

@media(max-width: 880px){
    header .content{
        width: 80%;
    }
}

@media(max-width: 550px){
    header .content{
        width: 90%;
    }
}